@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

/* Header CSS */

}

.header .save {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    /* padding: 7px 10px; */
}



/* Note CSS */
.container {
    max-width: 960px;
    margin: 10px auto;
    padding: 20px;
    min-height: 100vh;
}

.containerDarkMode {
  background-color: rgb(49, 48, 48);
  max-width: 960px;
  margin: 10px auto;
  padding: 20px;
  min-height: 100vh;
}

.notes-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.newNote {
    background-color: #67d7cc;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


textarea {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 1rem;
    border: none;
    resize: none;
    background-color: #67d7cc;
}

.textareapartdark {
  font-family:'Times New Roman', Times, serif !important;
  font-size: 1.0rem;
  border: none;
  resize: none;
  background-color: #5c5d5d;
}

textarea:focus {
    outline: none;
}

.save {
    background-color: #e1e1e1;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.save:hover {
    background-color: #ededed;
    cursor: pointer;
}



.note-title {
    font-size: 1.1rem;
    font-weight: 500;
    white-space: pre-line;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: rgb(15, 15, 15);
    font-family: 'Roboto', sans-serif;
}

.fa-trash-o {
    font-size: 1.2rem;
    cursor: pointer;
}





.search input:focus {
    outline: none;
}

.fa-search {
    margin-right: 5px;
}


.contain {
  margin: 10px auto;
  padding: 20px;
  min-height: 100vh;
}

.containDarkMode {
  background-color: rgb(49, 48, 48);
  margin: 10px auto;
  padding: 20px;
  min-height: 100vh;
}

.darkTitle{
   font-family: sans-serif;
   font-weight: bold  
}